@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');



.logo{
    margin-left: 40px;
 line-height: 60px;
    font-family: 'Sacramento', cursive;
    font-size: 26px;
     letter-spacing: 1px;
    -webkit-text-stroke-color: rgba(30 ,36 , 192 , 33%);
    -webkit-text-stroke-width: 3px;
    -webkit-text-fill-color:#1E24C0 ;
  }

  .navbar nav ul li{
    list-style: none;
  
    display: inline-block;
  }
  .navbar nav ul{
      float: right;
  }
  .navbar nav{
      width: 100%;
     background-color: white;
    z-index: 99;
     position: fixed;
     top: 0px;
   
  }


  .navbar  nav ul li a{
    text-decoration: none;
    cursor: pointer;
    background-color: white;
      padding: 10px 24px;
      font-size: 18px;
      color: rgba(0, 0, 0, 95%);
  }


  .navbar  nav ul li a:hover{
    background-color: rgba(124 ,128 , 121 , 25%);
    border-radius: 3px;
    transition: .3s;
  } 

  .checkBtn{
      font-size: 30px;
      color: black;
      float: right;
      line-height: 60px;
      display: none;
      margin-right: 40px;
      cursor: pointer;
      z-index: 99;
  }

  #check{
      display: none;
  }

  @media (max-width: 748px) {
      .logo{
          font-size: 22px;
          margin-left: 28px;
      }
      
  }

  @media (max-width: 690px) {
    .logo{
        font-size: 18px;
        margin-left: 20px;
    } 

    .checkBtn{
        font-size: 25px;
    }
    
    .checkBtn{
          display: block;
      }
      .navbar nav ul{
          position: absolute;
          width: 100%;
          height: 31vh;
          padding-left: 30px;
          background-color:white;
          top: -550%;
          z-index: -1;
        margin-top: 70px;
          transition: .4s ;
          text-align: left;
      }

      .navbar nav ul li{
          display: block;
          padding: 20px 0;
      }
      #check:checked ~  ul{
         top: 0%;
        

      }
  }